{% extends "::base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Posts</h1>
<hr>
<div class="row">
    {% for post in postsPaginated %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="overflow: hidden">
                <div class="caption">
                    <img src="{{ post.url }}">
                    <hr>
                    <p><a href="{{ path('view_post', {idPost: post.id}) }}" class="btn btn-primary" role="button">Afficher</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(postsPaginated) }}
</div>

{% endblock %}
