{% extends "::base.html.twig" %}

{% block title %}AppBundle:Blog:view{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <img src="{{ post.url }}">
    <hr>
    {% for tag in post.tags %}
        <b>#{{ tag.tag }}</b>
    {% endfor %}
    <hr>
    <a href="{{ path('homepage') }}" class="btn btn-primary" role="button">Retour</a>
{% endblock %}
